.git
.turbo
.logs
coverage
dist
node_modules
test-results
artifacts/logs
artifacts/playwright
artifacts/reports
artifacts/screenshots
**/.next
**/dist
**/node_modules
**/*.tsbuildinfo
.env
.env.*
!.env.example
